<div class="container alineado">
    <div class="caja">
        <div class="py-5 px-5">
        <form>
            <div class="mb-3">
            <label for="producto" class="form-label">Producto</label>
            <input type="text" class="form-control" id="producto">
            </div>
            <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" id="Description">
            </div>
            <div class="mb-3">
            <label for="Cantidad" class="form-label">Cantidad</label>
            <input type="text" class="form-control" id="Cantidad">
            </div>
            <div class="mb-3">
            <label for="Precio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="Precio">
            </div>
            <div class="mb-3">
            <label for="Categoria" class="form-label">Categoria</label>
            <input type="text" class="form-control" id="Categoria">
            </div>
            <div class="d-grid gap-2 pt-3">
            <button  class="btn btn-success ">Registrar</button>
            </div>
        </form>
        </div>
    </div>
</div>